.chat-container {
    margin: 50px auto;
    box-shadow: 0px 0px 10px 0px #036cff;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 5%;
    width: 90%;
}

.chat-messages {
    height: 58vh;
    overflow-y: auto;
    width: 100%;
}

.message {
    padding: 8px 12px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user {
    background-color: #042446;
    color: white;
    padding: 20px;
}

.bot {
    background-color: #013165;
    color: #fff;
    padding: 20px;
}

.chat-form {
    display: flex;
    padding: 10px;
    background-color: #043d79;
}

.chat-form input {
    flex: 1;
    padding: 8px;
    border-radius: 5px;
    background-color: #043d79;
    margin-right: 5px;
    border: none;
    outline: none;
    color: white;
    box-shadow: 0px 0px 10px 0px #3293fa;
    font-family: "Philosopher", sans-serif;
    transition: 0.5s ease-in-out;
}

.chat-form input:focus {
    box-shadow: 0px 0px 10px 0px #007bff;
}

.chat-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.chat-loader {
    position: relative;
    bottom: 185px;
    left: 50%
}

.chat-form button:hover {
    background-color: #0056b3;
    transition: 0.5s ease-in-out;
}

.chat-logo {
    position: relative;
    left: 5%;
    top: 60px;
    z-index: -3000;
}

.chat {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .chat-container {
        margin-top: 10%;
        width: 80%;
    }

    .chat-loader {
        left: 43%;
    }
}

@media (max-width: 886px) {
    .chat-container {
        margin-top: 15%;
    }

    .chat-loader {
        left: 48%;
        bottom: 250px;
    }
}

@media (max-width: 576px) {
    .chat-container {
        margin-top: 18%;
        width: 90%;
    }

    .chat-messages {
        height: 63vh;
    }

    .chat-loader {
        left: 43%;
        bottom: 250px;
    }
}