@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.cataract-title {
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
}

.cataract-file {
    height: 50px;
    width: fit-content;
    border: 2px solid #06DBF8E0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-top: 3%;
}

::-webkit-file-upload-button {
    background-color: #516acc;
    color: white;
    font-family: "Philosopher", sans-serif;
    border: none;
    cursor: pointer;
    width: 55%;
    padding: 10px;
    margin-left: 2%;
    font-size: 15px;
}

.cataract-predict-result {
    background-color: #516acc;
    border: none;
    padding: 10px;
    width: 16.9%;
    margin-left: 42.5%;
    margin-top: 1%;
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: "Philosopher", sans-serif;
    margin-bottom: 5px;
}

.predicted-img {
    margin-top: 1.2%;
    margin-left: 2.5%;
}

.cataract-desc {
    color: #06DBF8E0;
    font-size: 23px;
    margin-top: 3%;
    margin-left: 2%;
}

.prediction-results {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.prediction-results-result {
    margin-left: 95px;
    margin-top: 12px;
}

@media (max-width: 968px) {
    .cataract-predict-result {
        width: 55%;
        margin-top: 5%;
        margin-left: 24%;
    }

    .cataract-title {
        margin-top: 16%;
        font-size: 38px;
    }

    .predicted-img {
        margin-top: 5%;
    }

    .prediction-results {
        font-size: 10px;
        width: 100%;
    }

    .prediction-results-result {
        margin-left: 25px;
        font-size: 10px;
        margin-top: 12px;
    }
}